@import "@/styles/styles.scss";
ul {
    width: $width-m;
    display: flex;
    flex-direction: column;
    gap: $size-s;
    margin: $size-s 0 0;
    padding: 0 0 0 $size-l;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $size-s;
}
button {
    margin-top: $size-s;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}
