@import "../../styles/styles.scss";

@mixin commonStyle {
    font-family:
        Open Sans,
        serif;
    font-size: $font-size-m;
    font-weight: $font-weight-bold;
    line-height: $font-size-xxl;
    letter-spacing: 0;
    padding: $size-s;
}

.months {
    width: $width-m;
    height: $height-day-s;
    padding: $size-s 0 $size-s 0;
    display: flex;
    justify-content: space-between;
}

.head {
    display: flex;
    flex-direction: column;
}

.date-title {
    display: flex;
    justify-content: center;
}

.select_month {
    @include commonStyle;
    text-align: left;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    color: $black;
}

.month_text {
    @include commonStyle;
    color: $grey;
    height: $height-day-xl;
}

.select_month:focus option {
    height: $height-day-xl;
}
