@import "@/styles/styles.scss";

$padding-two: 2px;
$padding-bigger: 25px;

.container {
    width: $width-m;
    position: relative;
    margin-bottom: $size-l;
}

.calendarIconWrapper {
    position: absolute;
    height: $height-m;
    top: 50%;
    left: $size-s;
    transform: translateY(-50%);
}

.clearIconWrapper {
    position: absolute;
    height: $height-m;
    top: 50%;
    right: $size-s;
    transform: translateY(-50%);
    cursor: pointer;
}

.styledInput {
    width: 75%;
    padding: $padding-two $padding-bigger;
    font: inherit;
    outline: none;
    color: $black;

    &:invalid {
        border-color: $day-red;
    }
}
.error {
    color: $day-red;
    font-size: $font-size-s;
}
