@import "../../styles/styles.scss";
$padding-s: 2px;
$padding-l: 4px;

.input {
    width: 100%;
    padding: $padding-s $padding-l;
    font: inherit;
    outline: none;
}
.addTodo {
    height: $height-day-s;
    width: $width-day-s;
    border-radius: 50%;
    color: $black;
    background: $background-light;
}
.addTodo:disabled {
    display: none;
}
.error {
    color: $day-red;
    font-size: $font-size-s;
}
