.input {
    width: 100%;
    padding: 2px 4px;
    font: inherit;
    outline: none;
}
.addTodo {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    color: black;
    background: rgb(241, 241, 241);
}
