@import "@/styles/styles.scss";

.calendar {
    width: $width-m;
    height: auto;
    padding: $size-xl;

    box-shadow: 0 0 $size-s $grey;
    background-color: $white;
    border-radius: $border-radius-l;
}

.button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &:hover {
        border-radius: $border-radius-l;
        background: $background-light;
    }
}

.days_week_container {
    width: $width-m;
    height: $height-l;
    display: flex;
    justify-content: space-between;
}

.day_week {
    color: $dark-grey;
    font-family:
        Open Sans,
        serif;
    font-size: $font-size-m;
    font-weight: $font-weight-bold;
    line-height: $font-size-xl;
    letter-spacing: 0;
    text-align: left;
}

.days_months_container {
    width: $width-m;
    height: $height-l;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.day_number {
    width: $width-day-s;
    height: $height-day-s;
    color: $dark-grey;
    font-family:
        Open Sans,
        serif;
    font-size: $font-size-sm;
    font-weight: $font-weight-large;
    line-height: $font-size-xl;
    letter-spacing: 0;
    text-align: left;
}

.selected {
    border-radius: $border-radius-l;
    background: $background-blue;
    color: $white;
}

.isHoliday {
    color: $day-red;
}

.isWeekends {
    color: $day-red;
}

.isHaveTodo {
    border: $border-s solid $background-blue;
    border-radius: $border-radius-l;
}

.isCurrentDay {
    background: $day-current;
    border-radius: $border-radius-l;
}

.isStartDate {
    border-radius: $border-radius-l 0 0 $border-radius-l;
    background: $day-start;
}

.isEndDate {
    border-radius: 0 $border-radius-l $border-radius-l 0;

    background: $day-end;
}

.isRange {
    background: $day-in-range;
    color: $blue;
}
