@import "@/styles/styles.scss";

.calendar {
    width: $width-m;
    height: auto;
    padding: $size-xl;
    box-shadow: 0 0 $size-s $grey;
    border-radius: $border-radius-l;
}

.button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &:hover {
        border-radius: $border-radius-l;
        background: $background-light;
    }
}

.days_week_container {
    width: $width-m;
    height: $height-l;
    display: flex;
    justify-content: space-between;
}

.day_week {
    color: $dark-grey;
    font-family:
        Open Sans,
        serif;
    font-size: $font-size-m;
    font-weight: $font-weight-bold;
    line-height: $font-size-xl;
    letter-spacing: 0;
    text-align: left;
}

.days_months_container {
    width: $width-m;
    height: $height-l;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.day_number {
    width: $width-day-s;
    height: $height-day-s;
    font-family:
        Open Sans,
        serif;
    font-size: $font-size-sm;
    font-weight: $font-weight-large;
    line-height: $font-size-xl;
    letter-spacing: 0;
    text-align: left;
}
