@import "@/styles/styles.scss";
@import "@/components/CalendarHeader/styles.scss";

.weekday {
    @include commonStyle;
    width: $width-day-s;
    height: $height-day-s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-grey;
}

.row {
    display: flex;
    width: $width-l;
    justify-content: center;
    align-items: center;
}

.day {
    display: flex;
    justify-content: center;
    width: $width-day-s;
    height: $height-day-s;
    align-items: center;
    flex-basis: calc(100% / 7);
    font-family:
        Open Sans,
        serif;
    font-size: $font-size-sm;
    font-weight: $font-weight-large;
    line-height: $font-size-xl;
    letter-spacing: 0;
    cursor: pointer;

    &-default {
        color: $dark-grey;
    }

    &-success {
        color: $green;
    }

    &-primary {
        color: $blue;
    }
}

.month_body {
    display: flex;
    flex-wrap: wrap;
    width: $width-xl;
}

.day-disabled {
    color: $day-disabled;
}

.day-selected {
    border-radius: $border-radius-l;
    background: $background-blue;
    color: $white;
}

.day-weekend,
.day-holiday {
    color: $day-red;
}

.day-withTask {
    border: $border-s solid $background-blue;
    border-radius: $border-radius-l;
}

.day-start {
    border-radius: $border-radius-l 0 0 $border-radius-l;
    background: $day-start;
}

.day-end {
    border-radius: 0 $border-radius-l $border-radius-l 0;
    background: $day-end;
}

.day-range {
    background: $day-in-range;
    color: $blue;
}
